@-webkit-keyframes mexer {
  0% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(9px);
  }
}
@keyframes mexer {
  0% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(9px);
  }
}
.fita {
  background-image: url("../../img/fitas.png");
  width: 100px;
  height: 100px;
  background-size: 100px;
  background-repeat: no-repeat;
  position: fixed;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/planalto.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
@media (max-width: 612px) {
  main {
    flex-direction: column;
  }
}
main .main-1 {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-top: 13%;
  padding-left: 5%;
  flex-direction: column;
  position: absolute;
}
@media (max-width: 612px) {
  main .main-1 {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    padding-left: 0;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
  }
}
main .main-1 h1 {
  font-weight: 800;
  font-size: 10vh;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333;
  color: #e9e9e9;
}
@media (max-width: 612px) {
  main .main-1 h1 {
    font-size: 5vh;
    text-align: center;
  }
}
main .main-1 .btn-home {
  color: #eee;
  background-color: #556b2f;
  border: 2px solid #556b2f;
  width: 70px;
  height: 70px;
  font-size: 2vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 100%;
}
main .main-1 .btn-home:hover {
  background-color: transparent;
  border: 2px solid #556b2f;
  transition: 0.4s;
}
main .main-1 .btn-home .anima {
  -webkit-animation: mexer 2s ease-in-out infinite;
          animation: mexer 2s ease-in-out infinite;
}
main .main-1 .btn-home .anima ion-icon {
  color: #fff;
  font-size: 5vh;
}
main .wave {
  background-image: url("../../img/svg/wave1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  background-position: bottom;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}
section p {
  font-size: 6vh;
  text-align: center;
  font-weight: 800;
  height: 10vh;
  z-index: 3;
}
@media (max-width: 612px) {
  section p {
    font-size: 4vh;
  }
}

.sec-candidatos {
  width: 100%;
  height: 90vh;
  background-color: #eee;
  display: flex;
}
@media (max-width: 768px) {
  .sec-candidatos {
    flex-direction: column;
  }
}
.sec-candidatos .lula {
  width: 50%;
  height: 90vh;
  background-color: transparent;
}
@media (max-width: 768px) {
  .sec-candidatos .lula {
    margin-top: 15%;
    width: 100%;
    height: 40vh;
  }
}
.sec-candidatos .lula .img-lula {
  background-image: url("../../img/Lula/fotoLulaHome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vh;
  width: auto;
  height: 70vh;
  transition: 0.4s;
  z-index: 1;
}
@media (max-width: 992px) {
  .sec-candidatos .lula .img-lula {
    background-size: 40vh;
  }
}
@media (max-width: 768px) {
  .sec-candidatos .lula .img-lula {
    background-size: 40vh;
    height: 50vh;
  }
}
.sec-candidatos .lula .img-lula:hover {
  transform: scale(107%);
  transition: 0.4s;
}
.sec-candidatos .lula .nome-lula {
  background-color: transparent;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 612px) {
  .sec-candidatos .lula .nome-lula {
    text-align: center;
    height: 5vh;
  }
}
.sec-candidatos .lula .nome-lula label {
  font-size: 8vh;
  font-weight: 800;
}
@media (max-width: 768px) {
  .sec-candidatos .lula .nome-lula label {
    font-size: 7vh;
  }
}
.sec-candidatos .bolsonaro {
  width: 50%;
  height: 90vh;
  background-color: transparent;
}
@media (max-width: 768px) {
  .sec-candidatos .bolsonaro {
    padding-top: 10%;
    width: 100%;
    height: 40vh;
    margin-top: 20%;
  }
}
.sec-candidatos .bolsonaro .img-bolsonaro {
  background-image: url("../../img/Bolsonaro/fotoBolsonaroHome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vh;
  width: auto;
  height: 70vh;
  transition: 0.4s;
  z-index: 1;
}
@media (max-width: 992px) {
  .sec-candidatos .bolsonaro .img-bolsonaro {
    background-size: 40vh;
  }
}
@media (max-width: 768px) {
  .sec-candidatos .bolsonaro .img-bolsonaro {
    background-size: 40vh;
    height: 50vh;
  }
}
.sec-candidatos .bolsonaro .img-bolsonaro:hover {
  transform: scale(107%);
  transition: 0.4s;
}
.sec-candidatos .bolsonaro .nome-bolsonaro {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .sec-candidatos .bolsonaro .nome-bolsonaro {
    text-align: center;
    height: 5vh;
  }
}
.sec-candidatos .bolsonaro .nome-bolsonaro label {
  font-size: 8vh;
  font-weight: 800;
}
@media (max-width: 768px) {
  .sec-candidatos .bolsonaro .nome-bolsonaro label {
    font-size: 7vh;
  }
}

@-webkit-keyframes gradientII {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientII {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer li a:before {
  content: url("imagem.gif");
  display: block;
  text-align: center;
}

ul {
  list-style: none;
}

.background {
  background: linear-gradient(45deg, #1940ac, #e8b218, #1dc948);
  -webkit-animation: gradientII 5s ease-in-out infinite;
          animation: gradientII 5s ease-in-out infinite;
  flex-direction: column;
  background-size: 200% 200%;
}

.footer li a[href$="https://www.tse.jus.br/"]:before {
  content: url("../../img/xTribunal (01).png");
}

.footer li a[href$="https://www.tse.jus.br/eleitor/titulo-e-local-de-votacao/consulta-por-nome"]:before {
  content: url("../../img/icone-local-.png");
}

.footer li a[href$="https://www.tse.jus.br/eleicoes/eleicoes-2018/aplicativos-da-justica-eleitoral/e-titulo"]:before {
  content: url("../../img/titulo.png");
}

.footer li a {
  color: #e9e9e9;
}

.text {
  color: #002570;
  font-family: "Hind Madurai", sans-serif;
}/*# sourceMappingURL=home.css.map */