//cores

$verde-oliva: #556b2f;
$amarelo: #e8b218;
$azul: #002570;
$preto: #333;
$branco: #eee;


@keyframes mexer{
    0%{
        transform: translateY(9px);
        
    }50%{
        transform: translateY(3px);
    }100%{
        transform: translateY(9px);
    }
}

.fita{
    background-image: url('../../img/fitas.png');
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: fixed;
}

main{
    width: 100%;
    height: 100vh;
    background-image: url('../../img/planalto.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

    @media (max-width: 612px){
        flex-direction: column;
    }
    

    .main-1{
        width: 100%;
        height: 100vh;
        background-color: transparent;
        display: flex;
        align-items: center;
        padding-top: 13%;
        padding-left: 5%;
        flex-direction: column;
        position: absolute;

        @media (max-width: 612px){
            flex-direction: column;
            background-color: transparent;
            width: 100%;
            padding-left: 0;
            align-items: center;
            padding-left: 3%;
            padding-right: 3%;
            height: 100vh;
        }

        h1{
            font-weight: 800;
            font-size: 10vh;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $preto;
            color: #e9e9e9;
            @media (max-width: 612px){
                font-size: 5vh;
                text-align: center;
            }
        }

        .btn-home{
            color: $branco;
            background-color: $verde-oliva;
            border: 2px solid $verde-oliva;
            width: 70px;
            height: 70px;
            font-size: 2vh;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 100%;

            &:hover{
                background-color: transparent;
                border: 2px solid $verde-oliva;
                transition: .4s;
            }

            .anima{
                animation: mexer 2s ease-in-out infinite;

                ion-icon{
                    color: #fff;
                    font-size: 5vh;
                    
                }

            }
        }
            
    }
    
    .wave{
        background-image: url('../../img/svg/wave1.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100vh;
        background-position: bottom;
    }
}

section{
    width: 100%;
    height: 100vh;
    background-color: $branco;


    p{
        font-size: 6vh;
        text-align: center;
        font-weight: 800;
        height: 10vh;
        z-index: 3;

         @media (max-width: 612px){
            font-size: 4vh;
    }
    }
}
.sec-candidatos{
    width: 100%;
    height: 90vh;
    background-color: $branco;
    display: flex;

    @media (max-width: 768px){
        flex-direction: column;
    }
   
    

        .lula{
            width: 50%;
            height: 90vh;
            background-color: transparent;

            @media (max-width: 768px){
                margin-top: 15%;
                width: 100%;
                height: 40vh;
            }

            
            

            .img-lula{
                background-image: url('../../img/Lula/fotoLulaHome.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50vh;
                width: auto;
                height: 70vh;
                transition: .4s;
                z-index: 1;

                @media (max-width: 992px){
                    background-size: 40vh;
                }

                @media (max-width: 768px){
                    background-size: 40vh;
                    height: 50vh;
                }

                &:hover{
                    transform: scale(107%);
                    transition: .4s;
                }
            }

            .nome-lula{
                background-color: transparent;
                height: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 612px){
                    text-align: center;
                    height: 5vh;
                }

                label{
                    font-size: 8vh;
                    font-weight: 800;

                    @media (max-width: 768px){
                        font-size: 7vh;
                    }
                }
            }
        }
        .bolsonaro{
            width: 50%;
            height: 90vh;
            background-color: transparent;
            
            

            @media (max-width: 768px){
                padding-top: 10%;
                width: 100%;
                height: 40vh;
                margin-top: 20%;
            }

            .img-bolsonaro{
                background-image: url('../../img/Bolsonaro/fotoBolsonaroHome.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50vh;
                width: auto;
                height: 70vh;
                transition: .4s;
                z-index: 1;
               

                @media (max-width: 992px){
                    background-size: 40vh;
                }
                
                @media (max-width: 768px){
                    background-size: 40vh;
                    height: 50vh;
                }

                &:hover{
                    transform: scale(107%);
                    transition: .4s;
                }
            }
            .nome-bolsonaro{
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 768px){
                    text-align: center;
                    height: 5vh;
                }

               

                label{
                    font-size: 8vh;
                    font-weight: 800;

                    @media (max-width: 768px){
                        font-size: 7vh;
                    }
                }
            }
        }
}
