@-webkit-keyframes mexer {
  0% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
}

@keyframes mexer {
  0% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
}

.fita {
  background-image: url("../../img/fitas.png");
  width: 100px;
  height: 100px;
  background-size: 100px;
  background-repeat: no-repeat;
  position: fixed;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/teste.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

@media (max-width: 612px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .main-1 {
  width: 70%;
  height: 100vh;
  background-color: transparent;
  margin-top: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

@media (max-width: 612px) {
  main .main-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    width: 100%;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
  }
}

main .main-1 h1 {
  font-weight: 800;
  font-size: 10vh;
  color: #e9e9e9;
}

@media (max-width: 612px) {
  main .main-1 h1 {
    font-size: 5vh;
    text-align: center;
  }
}

main .main-1 p {
  font-size: 3vh;
  color: #eee;
}

@media (max-width: 612px) {
  main .main-1 p {
    font-size: 2.4vh;
    text-align: center;
  }
}

main .main-1 .btn-home {
  color: #eee;
  background-color: #556b2f;
  border: 2px #556b2f solid;
  width: 100%;
  height: 6vh;
  font-size: 2vh;
  max-width: 300px;
  min-width: 100px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

main .main-1 .btn-home .anima {
  -webkit-animation: mexer 2s ease-in-out infinite;
          animation: mexer 2s ease-in-out infinite;
}

main .main-1 .btn-home .anima box-icon {
  color: #fff;
}

main .main-1 .btn-home:hover {
  background-color: transparent;
  border: 2px #556b2f solid;
  -webkit-transition: .4s;
  transition: .4s;
}

main .wave {
  background-image: url("../../img/svg/wave1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  background-position: bottom;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

section p {
  font-size: 6vh;
  text-align: center;
  font-weight: 800;
  height: 10vh;
  z-index: 3;
}

@media (max-width: 612px) {
  section p {
    font-size: 4vh;
  }
}

.sec-candidatos {
  width: 100%;
  height: 90vh;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .sec-candidatos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sec-candidatos .lula {
  width: 50%;
  height: 90vh;
  background-color: transparent;
}

@media (max-width: 768px) {
  .sec-candidatos .lula {
    margin-top: 15%;
    width: 100%;
    height: 40vh;
  }
}

.sec-candidatos .lula .img-lula {
  background-image: url("../../img/Lula/fotoLulaHome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vh;
  width: auto;
  height: 70vh;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

@media (max-width: 992px) {
  .sec-candidatos .lula .img-lula {
    background-size: 40vh;
  }
}

@media (max-width: 768px) {
  .sec-candidatos .lula .img-lula {
    background-size: 40vh;
    height: 50vh;
  }
}

.sec-candidatos .lula .img-lula:hover {
  -webkit-transform: scale(107%);
          transform: scale(107%);
  -webkit-transition: .4s;
  transition: .4s;
}

.sec-candidatos .lula .nome-lula {
  background-color: transparent;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 612px) {
  .sec-candidatos .lula .nome-lula {
    text-align: center;
    height: 5vh;
  }
}

.sec-candidatos .lula .nome-lula label {
  font-size: 8vh;
  font-weight: 800;
}

@media (max-width: 768px) {
  .sec-candidatos .lula .nome-lula label {
    font-size: 7vh;
  }
}

.sec-candidatos .bolsonaro {
  width: 50%;
  height: 90vh;
  background-color: transparent;
}

@media (max-width: 768px) {
  .sec-candidatos .bolsonaro {
    padding-top: 10%;
    width: 100%;
    height: 40vh;
    margin-top: 20%;
  }
}

.sec-candidatos .bolsonaro .img-bolsonaro {
  background-image: url("../../img/Bolsonaro/fotoBolsonaroHome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vh;
  width: auto;
  height: 70vh;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

@media (max-width: 992px) {
  .sec-candidatos .bolsonaro .img-bolsonaro {
    background-size: 40vh;
  }
}

@media (max-width: 768px) {
  .sec-candidatos .bolsonaro .img-bolsonaro {
    background-size: 40vh;
    height: 50vh;
  }
}

.sec-candidatos .bolsonaro .img-bolsonaro:hover {
  -webkit-transform: scale(107%);
          transform: scale(107%);
  -webkit-transition: .4s;
  transition: .4s;
}

.sec-candidatos .bolsonaro .nome-bolsonaro {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .sec-candidatos .bolsonaro .nome-bolsonaro {
    text-align: center;
    height: 5vh;
  }
}

.sec-candidatos .bolsonaro .nome-bolsonaro label {
  font-size: 8vh;
  font-weight: 800;
}

@media (max-width: 768px) {
  .sec-candidatos .bolsonaro .nome-bolsonaro label {
    font-size: 7vh;
  }
}
/*# sourceMappingURL=home.css.map */